 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(115, 57, 125, 0.5), rgba(115, 57, 125, 0.5)) 50% 50%;
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 397px;
}

.u-section-1 .u-text-1 {
  width: 626px;
  font-size: 1.5rem;
  margin: 236px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: Allura;
  margin: -116px auto 0 492px;
}

.u-section-1 .u-icon-1 {
  width: 114px;
  height: 114px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 360deg;
  --animation-custom_in-scale: 0.1;
  color: rgb(255, 255, 255) !important;
  margin: 45px auto 0 0;
  padding: 11px;
}

.u-section-1 .u-icon-2 {
  width: 80px;
  height: 80px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0.9;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 2;
  margin: -80px 71px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 383px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 406px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 214px;
    margin-left: 47px;
    margin-right: 47px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -94px;
    margin-left: 311px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 40px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 233px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 186px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -65px;
    margin-left: 147px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 54px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 717px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-accordion-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-accordion-link-1 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
  padding: 20px;
}

.u-section-2 .u-icon-1 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-accordion-link-2 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
  padding: 20px;
}

.u-section-2 .u-icon-2 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-accordion-link-3 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
  padding: 20px;
}

.u-section-2 .u-icon-3 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-accordion-link-4 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
  padding: 20px;
}

.u-section-2 .u-icon-4 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-2 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px;
}

.u-section-2 .u-accordion-link-5 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
  padding: 20px;
}

.u-section-2 .u-icon-5 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-2 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-6 {
  padding: 20px;
}

.u-section-2 .u-accordion-link-6 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
  padding: 20px;
}

.u-section-2 .u-icon-6 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-2 .u-accordion-pane-6 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-7 {
  padding: 20px;
}

.u-section-2 .u-accordion-link-7 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
  padding: 20px;
}

.u-section-2 .u-icon-7 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-2 .u-accordion-pane-7 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-8 {
  padding: 20px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 668px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-accordion-2 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-accordion-link-8 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
  padding: 20px;
}

.u-section-2 .u-icon-8 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-2 .u-accordion-pane-8 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-10 {
  padding: 20px;
}

.u-section-2 .u-accordion-link-9 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
  padding: 20px;
}

.u-section-2 .u-icon-9 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-2 .u-accordion-pane-9 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-11 {
  padding: 20px;
}

.u-section-2 .u-accordion-link-10 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
  padding: 20px;
}

.u-section-2 .u-icon-10 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-2 .u-accordion-pane-10 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-12 {
  padding: 20px;
}

.u-section-2 .u-accordion-link-11 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
  padding: 20px;
}

.u-section-2 .u-icon-11 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-2 .u-accordion-pane-11 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-13 {
  padding: 20px;
}

.u-section-2 .u-accordion-link-12 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
  padding: 20px;
}

.u-section-2 .u-icon-12 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-2 .u-accordion-pane-12 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-14 {
  padding: 20px;
}

.u-section-2 .u-accordion-link-13 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
  padding: 20px;
}

.u-section-2 .u-icon-13 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-2 .u-accordion-pane-13 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-15 {
  padding: 20px;
}

.u-section-2 .u-accordion-link-14 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
  padding: 20px;
}

.u-section-2 .u-icon-14 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-2 .u-accordion-pane-14 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-16 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1115px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-accordion-1 {
    margin-top: 38px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 551px;
  }

  .u-section-2 .u-accordion-2 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 903px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1642px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-accordion-link-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-accordion-link-5 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-accordion-link-6 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-accordion-link-7 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-accordion-link-8 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-accordion-link-9 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-accordion-link-10 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-accordion-link-11 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-accordion-link-12 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-accordion-link-13 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-accordion-link-14 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1765px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 937px;
  }

  .u-section-2 .u-accordion-1 {
    margin-bottom: 60px;
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 753px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 744px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-image-1 {
  min-height: 546px;
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(69, 53, 103, 0.5), rgba(115, 57, 125, 0.5)) no-repeat 50% 50% / cover;
  background-size: cover, cover;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 546px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0 30px 30px;
}

.u-section-3 .u-accordion-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-accordion-link-1 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
}

.u-section-3 .u-icon-1 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px;
}

.u-section-3 .u-accordion-link-2 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
}

.u-section-3 .u-icon-2 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px;
}

.u-section-3 .u-accordion-link-3 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
}

.u-section-3 .u-icon-3 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px;
}

.u-section-3 .u-accordion-link-4 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
}

.u-section-3 .u-icon-4 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-3 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-6 {
  padding: 20px;
}

.u-section-3 .u-accordion-link-5 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
}

.u-section-3 .u-icon-5 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-3 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-7 {
  padding: 20px;
}

.u-section-3 .u-accordion-link-6 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
}

.u-section-3 .u-icon-6 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-3 .u-accordion-pane-6 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-8 {
  padding: 20px;
}

.u-section-3 .u-accordion-link-7 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
}

.u-section-3 .u-icon-7 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-3 .u-accordion-pane-7 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-9 {
  padding: 20px;
}

.u-section-3 .u-accordion-link-8 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
}

.u-section-3 .u-icon-8 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-3 .u-accordion-pane-8 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-10 {
  padding: 20px;
}

.u-section-3 .u-accordion-link-9 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
}

.u-section-3 .u-icon-9 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-3 .u-accordion-pane-9 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-11 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-3 .u-image-1 {
    min-height: 450px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 450px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-3 .u-image-1 {
    min-height: 345px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1156px;
  }

  .u-section-3 .u-image-1 {
    min-height: 518px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-3 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-5 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-6 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-7 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-8 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-accordion-link-9 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 772px;
  }

  .u-section-3 .u-image-1 {
    min-height: 326px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 744px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-image-1 {
  min-height: 546px;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(69, 53, 103, 0.5), rgba(115, 57, 125, 0.5)) no-repeat 50% 50% / cover;
  background-size: cover, cover;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 546px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0 30px 30px;
}

.u-section-4 .u-accordion-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-accordion-link-1 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
}

.u-section-4 .u-icon-1 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px;
}

.u-section-4 .u-accordion-link-2 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
}

.u-section-4 .u-icon-2 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px;
}

.u-section-4 .u-accordion-link-3 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
}

.u-section-4 .u-icon-3 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px;
}

.u-section-4 .u-accordion-link-4 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
}

.u-section-4 .u-icon-4 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-4 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px;
}

.u-section-4 .u-accordion-link-5 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
}

.u-section-4 .u-icon-5 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-4 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-7 {
  padding: 20px;
}

.u-section-4 .u-accordion-link-6 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
}

.u-section-4 .u-icon-6 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-4 .u-accordion-pane-6 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-8 {
  padding: 20px;
}

.u-section-4 .u-accordion-link-7 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
}

.u-section-4 .u-icon-7 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-4 .u-accordion-pane-7 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-9 {
  padding: 20px;
}

.u-section-4 .u-accordion-link-8 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
}

.u-section-4 .u-icon-8 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-4 .u-accordion-pane-8 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-10 {
  padding: 20px;
}

.u-section-4 .u-accordion-link-9 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
}

.u-section-4 .u-icon-9 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-4 .u-accordion-pane-9 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-11 {
  padding: 20px;
}

.u-section-4 .u-accordion-link-10 {
  font-size: 1.25rem;
  font-family: Oswald, sans-serif;
}

.u-section-4 .u-icon-10 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-4 .u-accordion-pane-10 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-12 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-4 .u-image-1 {
    min-height: 450px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 450px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-4 .u-image-1 {
    min-height: 345px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1156px;
  }

  .u-section-4 .u-image-1 {
    min-height: 518px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-4 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-accordion-link-4 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-accordion-link-5 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-accordion-link-6 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-accordion-link-7 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-accordion-link-8 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-accordion-link-9 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-accordion-link-10 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 772px;
  }

  .u-section-4 .u-image-1 {
    min-height: 326px;
  }
} .u-section-5 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-5 .u-sheet-1 {
  min-height: 415px;
}

.u-section-5 .u-text-1 {
  font-family: Sansita;
  margin: 60px 499px 0 512px;
}

.u-section-5 .u-text-2 {
  font-size: 4.5rem;
  font-family: Allura;
  margin: 22px 112px 0;
}

.u-section-5 .u-btn-1 {
  margin: 40px auto 60px;
  padding: 14px 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 412px;
    margin-right: 399px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 302px;
    margin-right: 289px;
  }

  .u-section-5 .u-text-2 {
    font-size: 3.75rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 70px;
    margin-left: 212px;
    margin-right: 199px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 23px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 39px;
    margin-bottom: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-top: -93px;
    margin-left: 112px;
    margin-right: 99px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-btn-1 {
    margin-bottom: -93px;
  }
}.opasiti {
 opacity: 0.5;
}
.opasiti7 {
 opacity: 0.7;
}